.sombreado {
  display: inline-block;
  padding: 0px 5px;
  border-radius: 5px;
  margin: 5px 0px;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.fondologin {
  background-color: #FAFAF9;
  /* Bg Principal */
  background-image: linear-gradient(135deg, #FFFBEB 0%, #FAFAF9 100%);
  /* Amber 50 to Stone 50 */
}


@keyframes fadeInModal {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeOutModal {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
}

.modal-anim-in {
  animation: fadeInModal 0.25s ease-out forwards;
}

.modal-anim-out {
  animation: fadeOutModal 0.25s ease-in forwards;
}